<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Loading a java script array from Database</title>
    <script type="text/javascript"> 
        function Category()
        {
            this.CategoryName;
            this.CategoryDescription;
        }
        var Categories = new Array();
        
        function LoadArray()
        {
            <%
                for(int i=0;i%=i%>] = new Category();
                    Categories[<%=i%>].CategoryName = <%= "'" + dtCategories.Rows[i]["CategoryName"] + "'" %>;
                    Categories[<%=i%>].CategoryDescription = <%= "'" + dtCategories.Rows[i]["Description"] + "'" %>;
            <%
                }
             %>
        }
        
        this.onload = LoadArray;
        
        function ShowElements()
        {
            for(var i=0;i<Categories.length;i++)
                alert(Categories[i].CategoryName + "\n" + Categories[i].CategoryDescription);
            return false;
        }
   < head>
   </script>

<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button Text="Show Elements" ID="cmdShowElements" 
                    onClientClick="return ShowElements();" runat="server"
                    UseSubmitBehavior="false"/>
    </div>
    </form>
</body>
</html>